.app{
  height: 100vh; 
  padding-left: 13rem;
  padding-right: 13rem;
}

.app_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
}

.app_form{
  height: min-content;
  width: 100%;
}

.app_li{
  margin-bottom: .5rem;
}

.app_title{
  margin-bottom: .5rem;
  margin-top: .3rem
}