.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding-left: 15rem;
  padding-right: 15rem;
}

.app_form{
  height: min-content;
  width: 100%;
}

.app_li{
  margin-bottom: .5rem;
}