.app_form_article-names{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
  padding: .6rem 1.2rem;
  border: 1px solid #753bbd;
  border-radius: 5px;
}
/* 
.app_form_article-names:focus{
  border: 1px solid blue;
} */

.app_form_input{
  outline: none;
  border: none;
  font-size: 1rem;
  height: min-content;
  min-width: 100px;
  margin-left: .3rem;
  padding: .5rem 0;
  font-family: 'Lato', sans-serif;
  flex-grow: 1;
}

.app_form_error-text{
  margin: 0;
  margin-top: .5rem;
}